{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">
    {{form_start(formReservation)}}
    <div class="">
        {{form_row(formReservation.nbJour,{
            'attr':{
                'placeholder':'entrez le nombre de jour..',
                'min':0,
               
            }
        })}}
    </div>
    <div class="">
        {{form_row(formReservation.dateRes,{
            'attr':{
                'placeholder':'entrez la date de reservation..',

            }
        })}}
    </div>
     <button type="submit">Enregistrer</button>
    {{form_end(formReservation)}}

</div>
{% endblock %}
