{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">
    <a href="/login">Reserver maintenant</a>
    <a href="/login">Alouez votre voiture</a>
    
    <a href="/user/new">Inscription</a>
    {% for car in cars %}
     <div class="">  
        {{car.image}}
        {{car.mark}}
        {{car.color}}
        {{nbPlace}}
        {{car.dailyTariff}}
        <a href="/login">Reserver</a>
     <div class="">
    {% endfor %}
</div>
{% endblock %}
